# Node.js dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo
dist
src/server/dist
# Environment variables
.env

# Docker
.dockerignore

# Prisma
src/server/prisma/.env
src/server/prisma/migrations/
# Logs
src/server/logs
*.log